/* Reset */
*,
*::before,
*::after {padding: 0; margin: 0; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
ul, ol, li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
html, body {line-height: 1; overflow-x: hidden;}
textarea, button, input, select {font-family: inherit; font-weight: inherit; font-size: inherit; color: inherit; outline: none;}
button {cursor: pointer; background-color: inherit;}

/* Variables */
:root {
	--body-bgcolor: #FFFFFF;
	--opacity-bg-08: rgba(255, 255, 255, 0.8);
	--opacity-bg-05: rgba(255, 255, 255, 0.5);
	--opacity-bg-02: rgba(255, 255, 255, 0.2);

	--white-color: #FFFFFF;
	--light-color: #f1f1f1;
	--gray-color: #888888;
	--dark-color: #484848;
	--black-color: #212121;

	--accent-color: #ed250a;
	--accent-color-hover: #e0230a;

	--border-radius: 4px;
	--box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	--border-gray: 2px solid var(--gray-color);
	--border-accent: 2px solid var(--accent-color);
}

/*-------------START---------------*/
/*---------------------------------*/

::-webkit-input-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::-moz-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
:-ms-input-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::-ms-input-placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::placeholder {
	opacity: 1;
	color: var(--gray-color);
}
::selection {
	background-color: var(--accent-color-hover);
	color: var(--white-color);
}

html {
	overflow-x: hidden;
}

body {
	background: var(--body-bgcolor);
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	font-style: normal;
	color: var(--dark-color);
	scroll-behavior: smooth;
	min-width: 340px;
	overflow-x: hidden;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	line-height: 1.1;
	text-transform: capitalize;
	color: var(--black-color);
	margin: 0;
}

h1, .h1 {
	font-size: 40px;
}

h2, .h2 {
	font-size: 36px;
}

h3, .h3 {
	font-size: 32px;
}

h4, .h4 {
	font-size: 28px;
}

h5, .h5, h6, .h6 {
	font-size: 24px;
}

.txt_page h1, .txt_page .h1 { margin-bottom: 10px;}
.txt_page h2, .txt_page .h2,
.txt_page h3, .txt_page .h3,
.txt_page h4, .txt_page .h4,
.txt_page h5, .txt_page .h5,
.txt_page h6, .txt_page .h6 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h1 span, .h1 span,
h2 span, .h2 span,
h3 span, .h3 span,
h4 span, .h4 span {
	display: inline-block;
}


b, strong { font-weight: 700; }
i, em { font-style: italic; }

a {
	color: var(--dark-color);
	transition: all 0.3s ease;
}

a:hover, a:active {
	color: var(--accent-color-hover);
}

img { max-width: 100%; }
video { max-width: 100%; }

p:not(:last-child) {
	margin-bottom: 10px;
}

hr {
	border: none;
	border-top: 1px solid var(--gray-color);
	text-align: center;
	height: 1px;
	margin: 20px auto;
	max-width: 90%;
}

.txt_page ol, .txt_page ol,
.txt_page ul, .txt_page ul {
	margin: 10px 0;
	padding-left: 23px;
}

.txt_page ul li {
	list-style: disc;
}

.txt_page ol li {
	list-style: decimal;
}

.custom-list ul,
.custom-list ol {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.custom-list ul:last-child,
.custom-list ol:last-child {
	margin-bottom: 0;
}

.custom-list ul > li,
.custom-list ol > li {
	position: relative;
	line-height: 1.3;
	display: flex;
	gap: 8px;
}

.custom-list ul > li::before,
.custom-list ol > li::before {
	display: inline-block;
	content: '\e907';
	font-family: 'icons_font' !important;
	font-weight: normal;
	color: var(--accent-color-hover);
}

blockquote {
	border-left: 4px solid var(--accent-color-hover);
	margin: 0 0 10px;
	padding: 6px 10px;
	font-style: normal;
}

.table-wrap {
	overflow-x: auto;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--gray-color);
	margin-bottom: 12px;
}

tr, td {
	border: 1px solid var(--gray-color);
	padding: 5px 10px;
	vertical-align: top;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 991.98px) {
	h1, .h1 {font-size: 34px;}
	h2, .h2 {font-size: 30px;}
	h3, .h3 {font-size: 26px;}
	h4, .h4 {font-size: 22px;}
	h5, .h5, h6, .h6 {font-size: 18px;}
}

@media only screen and (max-width: 574.98px) {
	h1, .h1 {font-size: 30px;}
	h2, .h2 {font-size: 26px;}
	h3, .h3 {font-size: 22px;}
	h4, .h4 {font-size: 20px;}
}

/*-------------BUTTONS-------------*/

.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0 25px;
	min-width: 210px;
	background-color: var(--accent-color);
	border: var(--border-accent);
	outline: none;
	border-radius: var(--border-radius);
	white-space: nowrap;
	color: var(--white-color);
	height: 50px;
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 1.1;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.3s ease;
	overflow: hidden;
}

.btn > .btn__icon {
	font-size: 22px;
	line-height: 0;
}

.btn:hover, .btn:active, .btn:focus {
	border-color: var(--accent-color-hover);
	background-color: var(--accent-color-hover);
	color: var(--white-color);
}

.btn.btn--outline {
	background-color: transparent;
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.btn.btn--outline:hover, .btn.btn--outline:active, .btn.btn--outline:focus {
	background-color: transparent;
	border-color: var(--black-color);
	color: var(--black-color);
}

/*---------Header-Main-Footer---------*/
/*------------------------------------*/

.wrapper {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

.wrapper > .main-content {
	flex-grow: 1;
	padding-top: 86px;
}

[class*="__container"] {
	position: relative;
	max-width: 1240px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

[class*="__container"].c--xl {
	max-width: 1680px;
}

[class*="__container"].no--padding {
	padding-left: 0;
	padding-right: 0;
}

[class*="__container-ff"] {
	position: relative;
	max-width: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.fancybox__container {
	position: fixed;
	max-width: inherit;
	padding-left: inherit;
	padding-right: inherit;
	margin: inherit;
	--fancybox-bg: rgba(0, 0, 0, 0.7);
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	height: 86px;
	box-shadow: var(--box-shadow);
}

.header::before {
	background-color: var(--white-color);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	transition: all 0.3s ease;
}

/*.header.open-menu::before {
	background: transparent;
}*/

/*.header.header--scroll::before {} */

.header__container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.header__logo,
.header__menu,
.header__buttons,
.header__mobile-nav {
	position: relative;
}

.header__logo {
	display: inline-block;
	line-height: 0;
	flex: 0 0 140px;
	z-index: 4;
	transition: all 0.3s ease;
}

.header__logo img {
	max-width: 140px;
}

.header__buttons {
	display: flex;
	gap: 12px;
	z-index: 4;
}

.header__menu {
	z-index: 4;
	margin-left: auto;
}

.header__menu-list {
	display: flex;
	column-gap: 30px;
	align-items: center;
	justify-content: end;
	flex-wrap: wrap;
}

.header__menu-list .menu-item {
	line-height: 20px;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}

.header__menu-list .menu-item > a {
	color: var(--black-color);
	padding: 4px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	transition: all 0.3s ease;
}

.header__menu-list .menu-item.current-menu-item > a {
	color: var(--accent-color-hover);
	pointer-events: none;
}

.header__menu-list .menu-item:not(.current-menu-item):hover > a {
	color: var(--accent-color);
}

.header__mobile-nav {
	position: relative;
	display: none;
}

.header__mobile-menu {
	display: none;
}

.header__mobile-burger {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	margin-right: -5px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease;
	overflow: hidden;
	z-index: 4;
}

.burger__icon {
	padding-top: 2px;
	font-size: 26px;
	line-height: 1;
	color: var(--black-color);
}

.header__mobile-burger.active .burger__icon {
	color: var(--gray-color);
}

.burger__icon::before {
	font-family: 'icons_font';
	content: '\e911';
}

.header__mobile-burger.active .burger__icon::before {
	content: '\e90b';
}

/*-----mobile-menu-----*/

.header__mobile-menu {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--light-color);
	overflow: auto;
	padding: 120px 30px 30px;
	transition: all 0.3s;
	z-index: 2;
}

.header__mobile-menu.active {
	top: 0;
}

.mobile-menu__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.mobile-menu__list .menu-item {
	position: relative;
	padding: 0;
}

.mobile-menu__list .menu-item > a {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--black-color);
	display: inline-block;
	padding: 7px 0;
}

.mobile-menu__list .menu-item.current-menu-item > a,
.mobile-menu__list .menu-item > a:hover {
	color: var(--accent-color);
}

.mobile-menu__list .menu-item.current-menu-item > a {
	pointer-events: none;
}

/*---end mobile-menu---*/

.header__mobile-buttons {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

@media only screen and (max-width: 1199.98px) {
	.header__menu-list {
		column-gap: 26px;
	}
	.header__btn {
		display: none;
	}
}

@media only screen and (max-width: 1079.98px) {
	.wrapper > .main-content {
		padding-top: 70px;
	}
	.header {
		height: 70px;
	}
	.header__menu,
	.header__buttons {
		display: none;
	}
	.header__logo img {
		max-width: 120px;
	}
	.header__mobile-nav {
		display: block;
		position: relative;
	}
	.header__mobile-menu {
		display: flex;
	}
}

.footer {
	position: relative;
	background-color: var(--black-color);
	padding: 60px 0 30px;
	color: var(--light-color);
	font-size: 16px;
	line-height: 1.4;
	z-index: 2;
}

.footer a {
	display: inline-block;
	color: var(--light-color);
}

.footer a:hover {
	color: var(--accent-color);
}

.footer-2cols {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

/*.footer-col {
	flex: 0 1 50%;
}*/

.footer__logo {
	max-width: 140px;
	overflow: hidden;
	line-height: 1;
	margin-bottom: 16px;
}

.footer__text p {
	margin-bottom: 0;
}

.footer__soc {
	margin-top: 20px;
}

.soc-list {
	display: flex;
	gap: 12px;
	line-height: 1;
}

.soc-list li > a {
	background-color: transparent;
	background-size: auto 32px;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
	height: 32px;
	width: 32px;
	overflow: hidden;
	text-indent: -99999px;
}

.soc-list li > a:hover {
	opacity: 0.7;
}

.soc-list li.yt > a {
	background-image: url('../img/soc-yt.svg');
	width: 44px;
}

.soc-list li.ins > a {
	background-image: url('../img/soc-insta.svg');
}

.soc-list li.fb > a {
	background-image: url('../img/soc-fb.svg');
}

.conts-list {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.conts-list li {
	display: flex;
	gap: 4px;
}

.conts-list li span {
	margin-top: 3px;
	display: inline-block;
	font-size: 20px;
	line-height: 1;
}

.footer__bottom {
	margin-top: 45px;
	text-align: center;
	line-height: 1.2;
}

.footer__copy {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	justify-content: center;
}

.footer__bottom p:not(:last-child) {
	margin-bottom: 7px;
}

.scroll-top {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white-color);
	box-shadow: var(--box-shadow);
	bottom: 50px;
	right: -100%;
	color: var(--black-color);
	line-height: 1;
	height: 40px;
	width: 40px;
	border-radius: var(--border-radius);
	padding: 3px;
	transition: all 0.8s ease;
	overflow: hidden;
	z-index: 7;
	cursor: pointer;
}

.scroll-top:hover {
	color: var(--accent-color);
}

.scroll-top.visible {
    right: 20px;
}

.scroll-top > span {
	font-size: 18px;
	line-height: 0;
}

@media only screen and (max-width: 767.98px) {
	.footer-2cols {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	.footer-col {
		flex: 0 1 100%;
		text-align: center;
	}
	.footer__logo {
		margin: 0 auto 20px;
	}
	.soc-list {
		justify-content: center;
	}
	.conts-list {
		align-items: center;
	}
}

/*---------All CSS----------*/
/*--------------------------*/

.sect {
	position: relative;
	padding: 55px 0;
}

.default-sect {
	padding: 55px 0 60px;
}

.sect .text-18 {
	font-size: 18px;
}

.default__content-text {
	margin-top: 30px;
}

.content-404 {
	padding: 80px 0;
	text-align: center;
}

.number-404 {
	font-size: 110px !important;
	font-weight: 700;
	line-height: 0.8;
	color: var(--dark-color);
	margin-bottom: 25px;
}

.title-404 {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 35px !important;
	text-transform: capitalize;
}

.title-404 span {
	display: inline-block;
}

.button-back {
	margin-top: 20px;
	text-align: center;
}

.btn__back,
.btn__404 {
	min-width: 200px;
}

.sect-header {
	max-width: 1000px;
	margin: 0 auto 35px;
	text-align: center;
}

.sheader__title {
	font-size: 52px;
	line-height: 1.1;
	color: var(--black-color);
	text-transform: capitalize;
}

.sheader__desc {
	max-width: 800px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: var(--dark-color);
}

.sheader__desc span,
.sheader__title span {
	color: var(--accent-color);
}

.h--white .sheader__title {
	color: var(--white-color);
}

.h--white .sheader__desc {
	color: var(--grey-color);
}

.sect__buttons {
	margin-top: 40px;
	position: relative;
	text-align: center;
}

.two-cols {
	display: flex;
	gap: 30px;
}

.two-cols__col {
	flex: 0 1 calc(100% / 2 - 15px);
}

.carousel__navigation {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.carousel__pagination {
	display: inline-flex;
	gap: 6px;
	justify-content: center;
	align-items: center;
	width: auto !important;
	min-width: 240px;
}

.carousel__pagination .swiper-pagination-bullet {
	background-color: var(--dark-color);
	width: 8px;
	height: 8px;
	border-radius: 2px;
	margin: 0 !important;
	opacity: 1;
	overflow: hidden;
	transition: all 0.3s ease;
}

.carousel__pagination .swiper-pagination-bullet:hover {
	background-color: var(--gray-color);
}

.carousel__pagination span.swiper-pagination-bullet-active:hover,
.carousel__pagination span.swiper-pagination-bullet-active {
	background-color: var(--accent-color);
	width: 20px;
	opacity: 1;
}

.carousel__btn-prev,
.carousel__btn-next {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: var(--border-radius);
	border: 2px solid var(--dark-color);
	line-height: 0;
	font-size: 18px;
	color: var(--dark-color);
	text-align: center;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
}

.carousel__btn-prev:hover,
.carousel__btn-next:hover {
	border-color: var(--accent-color-hover);
	color: var(--accent-color-hover);
}

.block__toggles {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.block__toggle {
	background-color: var(--white-color);
	border-radius: var(--border-radius);
	padding: 20px 15px 0;
	transition: all 0.3s ease;
	overflow: hidden;
}

.toggle__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 14px;
	cursor: pointer;
	padding-bottom: 17px;
}

.toggle__header-title {
	font-size: 20px;
	line-height: 1.1;
	text-transform: none;
	color: var(--black-color);
}

.toggle__header-btn {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2px;
	width: 24px;
	height: 24px;
	line-height: 0;
	font-size: 20px;
	color: var(--dark-color);
	text-align: center;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
}

.toggle__header:hover .toggle__header-btn {
	color: var(--accent-color);
}

.toggle__header-btn.v_active {
	transform: rotateZ(180deg);
}

.toggle__content {
	max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
	color: var(--milk-color);
}

.toggle__content ol,
.toggle__content ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
	line-height: 1.25;
	padding-left: 23px;
}

.toggle__content ol:not(:last-child),
.toggle__content ul:not(:last-child) {
	margin-bottom: 10px;
}

.toggle__content ul > li {
	list-style: disc;
}

.toggle__content ol > li {
	list-style: decimal;
}

/*----------------------------------*/

.hero2-sect.sect,
.hero-sect.sect {
	padding: 80px 0;
}

.hero2-sect::before,
.hero-sect::before {
	background-color: rgba(12, 15, 18, 0.6);
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}

.hero2__bgs,
.hero__bgs {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hero2__bgs > img,
.hero__bgs > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 70% 70%;
	transition: opacity 1.2s ease;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.hero2__bgs > img.active,
.hero__bgs > img.active {
	opacity: 1;
}

.hero2__container,
.hero__container {
	z-index: 4;
}

.hero__content {
	padding: 100px 0;
	margin: 0 auto;
	text-align: center;
	color: var(--light-color);
}

.hero2__content {
	margin: 0 auto;
	text-align: center;
	color: var(--light-color);
}

.hero__title {
	font-size: 60px;
	color: var(--white-color);
	text-transform: capitalize;
}

.hero__desc {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	color: var(--grey-color);
	font-size: 20px;
}

.hero__desc p:not(:last-child) {
	margin-bottom: 6px;
}

.hero__buttons {
	margin-top: 35px;
}

.logos-sect.sect {
	background-color: var(--light-color);
	padding: 35px 0;
}

.logos__carousel {
	overflow: hidden;
}

.logos__carousel .swiper-wrapper {
	transition-timing-function: linear;
	align-items: center;
}

.logos__carousel .swiper-slide {
	position: relative;
	width: calc(100% / 5 - 32.5px);
	box-sizing: border-box;
}

.logos__card {
	max-width: 200px;
	margin: 0 auto;
}

.about-sect.sect {
	padding: 80px 0;
}

.about__col-2 {
	align-self: center;
}

.about__text {
	margin-top: 20px;
}

.about__buttons {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.about__media {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.about__item {
	display: flex;
	gap: 20px;
	align-items: end;
}

.about__item.ai--reverse {
	flex-direction: row-reverse;
	align-items: start;
}

.about__item-info {
	background-color: var(--dark-color);
	flex: 0 0 160px;
	padding: 20px;
	border-radius: var(--border-radius);
	color: var(--white-color);
	overflow: hidden;
}

.about__item-img {
	flex: 1 1 auto;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.about__item-img img {
	border-radius: var(--border-radius);
}

.about__item-icon {
	height: 40px;
	line-height: 1;
}

.about__item-icon img {
	width: auto;
	height: 100%;
}

.about__item-counter {
	margin-top: 15px;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.1;
}

.about__item-desc {
	margin-top: 5px;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 400;
}




.deals-sect.sect {
	background-color: var(--light-color);
	padding: 80px 0;
}










.whychoose-sect.sect {
	background-color: var(--light-color);
	padding: 80px 0;
}

.reviews-sect.sect {
	padding: 80px 0 75px;
}

.reviews__carousel {
	position: relative;
	overflow: hidden;
	padding: 1px 1px 0;
}

.reviews__carousel .swiper-slide {
	position: relative;
	width: calc(100% / 3 - 13.333px);
	box-sizing: border-box;
	height: auto;
}

.reviews__card {
	background-color: var(--light-color);
	padding: 20px 20px;
	border-radius: var(--border-radius);
	overflow: hidden;
	height: 100%;
	transition: all 0.3s ease;
}

.reviews__card-header {
	display: flex;
	gap: 12px;
	justify-content: space-between;
}

.reviews__card-icon {
	flex: 0 0 24px;
}

.reviews__card-name {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	color: var(--black-color);
}

.reviews__card-date {
	margin-top: 5px;
	font-size: 16px;
	line-height: 1.2;
	color: var(--dark-color);
}

.reviews__card-rating {
	margin-top: 12px;
	margin-left: -3px;
	max-width: 118px;
	line-height: 0;
}

.reviews__card-body {
	margin-top: 5px;
	font-size: 16px;
	color: var(--dark-color);
}

.faq-sect.sect {
	background-color: var(--light-color);
	padding: 80px 0;
}

.contacts-sect.sect {
	padding: 80px 0;
}

.contacts__form-wrap {
	position: relative;
	background-color: var(--light-color);
	padding: 18px 20px 20px;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.contacts__map {
	position: relative;
	background-color: var(--light-color);
	border-radius: var(--border-radius);
	line-height: 0;
	overflow: hidden;
	height: 100%;
}

/*-------------------------------------------*/
/*------------------MEDIA--------------------*/

@media only screen and (min-width: 767.99px) {
	/*.def-carousel .swiper-wrapper {
		flex-wrap: wrap;
		gap: 20px;
	}
	.def-carousel .swiper-slide {
		flex: 0 1 calc(100% / 3 - 14px);
	}*/
}

@media only screen and (max-width: 1199.98px) {
	[data-aos] {
		opacity: 1 !important;
		transform: none !important;
	}
	.sect .text-18 {
		font-size: 16px;
	}
	.sect {
		padding: 50px 0;
	}
	.sect-header {
		margin-bottom: 30px;
	}
	.sheader__title {
		font-size: 46px;
	}
	.hero__desc,
	.sheader__desc {
		margin-top: 10px;
		font-size: 18px;
	}
	.sect__buttons {
		margin-top: 30px;
	}
	.hero__title {
		font-size: 56px;
	}
	.logos__carousel .swiper-slide {
		width: calc(100% / 4 - 30px);
	}
	.about-sect.sect,
	.faq-sect.sect,
	.contacts-sect.sect {
		padding: 65px 0;
	}
	.about__text {
		margin-top: 15px;
	}
	.reviews__carousel {
		overflow: inherit;
		padding: 0;
	}
}

@media only screen and (max-width: 1079.98px) {
	.reviews__carousel .swiper-slide {
		width: calc(100% / 2 - 10px);
	}
}

@media only screen and (max-width: 991.98px) {
	.two-cols {
		flex-direction: column;
		gap: 25px;
	}
	.two-cols__col {
		flex: 0 1 100%;
		width: 100%;
	}
	.contacts__map {
		height: 420px;
	}
	.sheader__title {
		font-size: 42px;
	}
	.hero__desc,
	.sheader__desc {
		font-size: 16px;
	}
	.hero__title {
		font-size: 48px;
	}
	
}

@media only screen and (max-width: 859.98px) {
	.logos__carousel .swiper-slide {
		width: calc(100% / 3 - 27px);
	}
}

@media only screen and (max-width: 767.98px) {
	.sheader__title {
		font-size: 36px;
	}
	.hero__title {
		font-size: 40px;
	}
	.about__media,
	.about__item {
		gap: 12px;
	}
	.about__item-info {
		padding: 15px;
		flex: 0 0 140px;
	}
	.about__item-counter {
		margin-top: 10px;
	}
	.about__item-desc {
		font-size: 16px;
	}
	.reviews__carousel .swiper-slide {
		width: 100%;
	}
}

@media only screen and (max-width: 599.98px) {
	.carousel__pagination {
		display: none;
	}
	.sheader__title {
		font-size: 32px;
	}
	.hero__title {
		font-size: 34px;
	}
	.logos__carousel .swiper-slide {
		width: calc(100% / 2 - 21px);
	}
}

@media only screen and (max-width: 479.98px) {
	.hero__title {
		font-size: 32px;
	}
	.about__buttons {
		flex-direction: column;
	}
}